.frame {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:white;
}

.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1315px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background-color: rgb(254, 254, 254);
}

.frame .left_frame {
  width: 305px;
  height: 1315px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.frame .left_frame .marginer {
  width: 220px;
  height: 0.5px;
  background: #b4b4f6;
  margin-right: 30px;
  margin-left: 47px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.frame .left_frame .left_1 {
  width: 228px;
  height: 253px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  margin-right: 37px;
  margin-left: 47px;
  margin-bottom: 54px;
}
.frame .left_frame .left_1-1 {
  width: 156.164px;
  height: 135.053px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 26.96px;
  border-radius: 156.164px;
}
.frame .left_frame .left_1-2 {
  position: relative;
  display: flex;
  width: 64px;
  height: 20.846px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 6.14px;
}
.frame .left_frame .left_1-3 {
  width: 147.836px;
  height: 24.31px;
  flex-shrink: 0;
  color: var(--Paragraph-Font, #767676);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 17.62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame .left_frame .left_icons .link_href {
  text-decoration: none;
  color: black;
}
.frame .left_frame .left_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 228px;
  height: 22px;
  justify-content: space-between;
  align-items: center;
}
.frame .left_frame .left_icons .icon {
  width: 24.986px;
  height: 21.609px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  filter: drop-shadow(0 4px 4px rgba(0 0 0 0.25));
  background: #ffb400;
}

.frame .left_frame .left_icons .icon-1 {
  width: 14.575px;
  height: 12.605px;
  position: relative;
}
.main_frame .left_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left_2 .main_info {
  width: 221px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 66px;
}
.left_2 .main_info div {
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: var(--Yellow, #ffb400);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_2 .main_info .info_age {
  width: 46.209px;
  height: 24px;
}
.left_2 .main_info .info_residence {
  width: 89px;
  height: 24px;
}
.left_2 .main_info .info_freelance {
  width: 89px;
  height: 24px;
}
.left_2 .main_info .info_Adress {
  width: 75px;
  height: 24px;
}

.frame .left_frame .left_3 {
  width: 220px;
  height: 153px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 38px;
  margin-left: 47px;
  margin-bottom: 25px;
  justify-content: space-between;
}
/* 000000000000000000 */
.main_frame .left_frame .left_language {
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  margin-bottom: 15px;
}

.main_frame .left_frame .left_3 .left_language-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  height: 24px;
  margin-bottom: -5px;
  margin-top: 3px;
}
.main_frame .left_frame .left_3 .left_language-1 span {
  color: var(--Paragraph-Font, #767676);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}
.main_frame .left_frame .left_3 .prosent {
  margin-bottom: 5px;
}

.frame .left_frame .left_4 {
  width: 220px;
  height: 242px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 38px;
  margin-left: 47px;
  margin-bottom: 25px;
  justify-content: space-between;
}
.frame .left_frame .left_4 .skills {
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  margin-bottom: 15px;
}

.main_frame .left_frame .left_4 .left_skills-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  height: 24px;
  margin-bottom: 0px;
  margin-top: 3px;
}
.main_frame .left_frame .left_4 .left_skills-1 span {
  color: var(--Paragraph-Font, #767676);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main_frame .left_frame .left_4 .prosent_2 {
  margin-top: -3px;
}
.frame .left_frame .left_5 {
  width: 186px;
  height: 148px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 72px;
  margin-left: 47px;
  margin-bottom: 118px;
}
.frame .left_frame .left_5 .extra_skills {
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  margin-bottom: 19px;
}
.frame .left_frame .left_5 .extra_skills-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.frame .left_frame .left_5 .extra_skills-1 span {
  color: var(--Paragraph-Font, #767676);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}
.frame .left_frame .left_5 .extra_skills-1 img {
  width: 15px;
  height: 15px;
}

.frame .midd_frame {
  width: 975px;
  height: 1256px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 22px;
  margin-top: -55px;
  background-color: #fff;
}
.frame .midd_frame .midd_frame-top {
  width: 971px;
  height: 454.328px;
  display: flex;
  flex-direction: row;
  margin-bottom: 148.67px;

}
.frame .midd_frame .midd_top-left {
  position: relative;
  display: flex;
  flex-direction: column;
}
.frame .midd_frame .midd_top-header {
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%;
  margin-top: 102px;
  margin-left: 200px;
}
.frame .midd_frame .midd_top-inform {
  width: 400px;
  height: 85.612px;
  margin-top: 17px;
  margin-left: 100px;
}
.frame .midd_frame .midd_top-inform .inform_1 {
  color: var(--Paragraph-Font, #767676);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.frame .midd_frame button {
  width: 154px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb400;
  border-radius: 5px;
  gap: 10px;
  border: #ffb400;
  margin-top: 23px;
  margin-left: 90px;
  margin-bottom: 61px;
  cursor: pointer;
}
.frame .midd_frame .button_1 {
  color: var(--Black, #2b2b2b);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.frame .midd_frame .midd_top-left a {
  text-decoration: none;
}
.frame .midd_frame .elips {
  position: absolute;
  width: 16.016px;
  height: 15.566px;
  margin-top: 38px;
  margin-left: 36px;
  margin-bottom: 401px;
}
.frame .midd_frame .elips1 {
  position: absolute;
  width: 16.016px;
  height: 15.566px;
  margin-top: 419px;
  margin-left: 84px;
  margin-bottom: 19px;
}
.frame .midd_frame .elips3 {
  position: absolute;
  width: 16.016px;
  height: 15.566px;
  margin-top: 330px;
  margin-left: 370px;
  margin-bottom: 102px;
}
.frame .midd_frame .elips4 {
  position: absolute;
  width: 16.016px;
  height: 15.566px;
  margin-top: 59px;
  margin-left: 516px;
  margin-bottom: 379px;
}
.frame .midd_frame .face {
  position: relative;
  margin-left: 100px;
  margin-top: 17px;
}
.frame .midd_frame .elips5 {
  position: absolute;
  width: 16.016px;
  height: 15.566px;
  margin-top: 424px;
  margin-left: 917px;
}
.midd_frame .midd_frame-bott {
  width: 970px;
  height: 653px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  margin-right: 27px;

}
.midd_frame .midd_frame-bott .midd_top {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.midd_frame .midd_frame-bott .midd_top p {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%;
}
.midd_frame .midd_frame-bott .midd_top span {
  width: 438px;
  height: 68px;
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}
.midd_frame .midd_frame-bott .midd_bott1 {
  position: relative;
  display: flex;
  flex-direction: row;

}
.midd_frame .midd_frame-bott .midd_bott1 .bott_service {
  width: 310px;
  height: 225px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
.midd_frame .midd_frame-bott .midd_bott1 .bott_service .service_img {
  width: 68px;
  height: 68px;
  margin top: 28px;
  margin-bottom:28px;
  margin-left: 121px;
  margin-right: 121px;
}
.midd_frame .midd_frame-bott .midd_bott1 .bott_service p{
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 123.6%; 
margin-bottom: 0px;
}
.midd_frame .midd_frame-bott .midd_bott1 .bott_service  span{
  color: var(--Paragraph-Font, #767676);
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
width: 200px;
height: 78px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-top:20px;
}
.midd_frame .midd_frame-bott .midd_bott1 .bott_service a{
text-decoration: none;
 color: var(--Yellow, #FFB400);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 30px;
}

 

 .frame .right_frame {
  width: 108px;
  height: 1315px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  align-items: center;
}
.frame .right_frame .right_frame-top{
  margin-top:50px;
  margin-bottom: 225px;
  
}

.frame .right_frame .right_frame-bott{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.frame .right_frame .bott_img-right{
  margin-bottom:70px ;
  cursor: pointer;
}

.frame .right_frame .bott_img-right1{
  cursor: pointer;
}

